.ingredients-list-area {
  display: flex;
  justify-content: center;
  align-items: center;
  .ingredients-list {
    font-size: 16px;
    text-align: left;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--social-bg);
    border: 2px solid transparent;
    transition: border-color 0.3s;
    margin-bottom: 24px;
    margin-top: 24px;
    width: fit-content;
    align-self: center;
  }
}
